<div class="container">
  <div class="row">
    <div class="col-3">
      <h1>User info</h1>
      <%= form_for(@user) do |f| %>
        <label>Name
        <%= f.text_field :name %>
        </label>
        <p>image</p>
        <div class="user-edit-image">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
        </div>
        <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        <label>Introduction
        <%= f.text_area :introduction %>
        </label>
        <%= f.submit %>
      <% end %>
    </div>    