<h3>コメント一覧</h3>
<ul>
<% @comments.each do |comment| %>
  <li>
    <%= comment.user.name %>さん：
    <%= comment.body %>
  <% if current_user == comment.user %>
    <%= link_to "edit", edit_comment_path(comment) %>
    | <%= link_to "delete", comment_path(comment), :method => :delete, data:{confirm: "本当にいいですか"} %>
  <% end %>
  </li>
<% end %>
</ul>
<h3>いいねしたユーザー</h3>
<ul>
<% @favos.each do |favo| %>
<li>
  <%= link_to user_path(favo.user) do %>
    <%= favo.user.name %>
  <% end %>
  さん
</li>
<% end %>
</ul>
